@media screen and (min-width: 500px) {
    body {
      max-width: 1080px;
      margin: auto;
    }

    /* .product-grid{
        
    } */
  
    .mission {
      font-size: 1.2em;
    }
  
    .cart-card {
      font-size: inherit;
      grid-template-columns: 150px auto 15%;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        align-items: center;
    }

    footer p {
        text-align: left;
        padding-left: 5rem;
    }

  }